
			<app-base-edit-form (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
<dx-form id="form"  [colCount]="2" #detailForm [formData]="entity">

									<dxi-item [label]="{text: 'کد'}"  dataField="code" >
												
										
				</dxi-item>
									
									<dxi-item dataField="representationId" editorType="dxLookup" [label]="{text: 'نمایندگی'}"
					[editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: representationDataSource,displayExpr:'title',valueExpr:'id' }">

																				<dxi-validation-rule  type="required" message="نمایندگی اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'دوره سازمانی'}"  dataField="organizational" editorType='dxCheckBox'>
												
										
				</dxi-item>
									
									<dxi-item dataField="courceStatus" editorType="dxSelectBox" [label]="{text: 'وضعیت دوره'}"  
					[editorOptions]="{ items: courceStatuss,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule  type="required" message="وضعیت دوره اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'مدرس'}"  dataField="representationPerson" editorType='dxNumberBox'>
												
										
				</dxi-item>
									<dxi-item [label]="{text: 'قیمت دوره'}"  dataField="price" editorType='dxNumberBox'>
												
										
				</dxi-item>
									
									<dxi-item dataField="courseId" editorType="dxLookup" [label]="{text: 'دوره'}"
					[editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: courseDataSource,displayExpr:'title',valueExpr:'id' }">

																				<dxi-validation-rule  type="required" message="دوره اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'رده سنی'}"  dataField="ageCategory" editorType='dxNumberBox'>
												
										
				</dxi-item>
									
									<dxi-item dataField="implementaionType" editorType="dxSelectBox" [label]="{text: 'نوع برگزاری'}"  
					[editorOptions]="{ items: implementaionTypes,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule  type="required" message="نوع برگزاری اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="courceType" editorType="dxSelectBox" [label]="{text: 'نوع دوره'}"  
					[editorOptions]="{ items: courceTypes,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule  type="required" message="نوع دوره اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'روش اجرای دوره'}"  dataField="runType" editorType='dxNumberBox'>
												
																<dxi-validation-rule  type="required" message="روش اجرای دوره اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'تاریخ شروع'}"  dataField="startDate" editorType='dxNumberBox'>
													<dp-date-picker
							[config]="datePickerConfig"
							dir="rtl"
							mode="day"
							placeholder="تاریخ شروع"
							theme="dp-material"
														[ngModel]="entity.startDate" (ngModelChange)="entity.startDate=convertDateToStrint($event)">
														</dp-date-picker>
												
																<dxi-validation-rule  type="required" message="تاریخ شروع اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="customGender" editorType="dxSelectBox" [label]="{text: 'جنسیت'}"  
					[editorOptions]="{ items: customGenders,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule  type="required" message="جنسیت اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'حداکثر تعداد نفرات قابل پذیرش'}"  dataField="maxCapacity" editorType='dxNumberBox'>
												
																<dxi-validation-rule  type="required" message="حداکثر تعداد نفرات قابل پذیرش اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="accessLevelId" editorType="dxLookup" [label]="{text: 'سطح دسترسی'}"
					[editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: accessLevelDataSource,displayExpr:'title',valueExpr:'id' }">

																				<dxi-validation-rule  type="required" message="سطح دسترسی اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
</dx-form>
</app-base-edit-form>
