
	

<dx-tab-panel
    #tabPanel
    rtlEnabled="true"
    [dataSource]="tabs"
    [selectedIndex]="0"
    [loop]="false"
    [animationEnabled]="false"
    [swipeEnabled]="false">
    <div *dxTemplate="let company of 'educationalCenter'" class="tab-content-edit-form">
						<app-educational-center-detail [selectedEntityId]="selectedEntityId" entityName="educationalCenter" 
											></app-educational-center-detail>
					</div>
					<div *dxTemplate="let company of 'about'" class="tab-content-edit-form">
						<app-content-editor [selectedEntityId]="selectedEntityId" entityName="educationalCenter" propertyName="about"
											propertyLabel="درباره"></app-content-editor>
					</div>
									<div *dxTemplate="let company of 'goal'" class="tab-content-edit-form">
						<app-content-editor [selectedEntityId]="selectedEntityId" entityName="educationalCenter" propertyName="goal"
											propertyLabel="اهداف و ماموریت"></app-content-editor>
					</div>
									<div *dxTemplate="let company of 'description'" class="tab-content-edit-form">
						<app-content-editor [selectedEntityId]="selectedEntityId" entityName="educationalCenter" propertyName="description"
											propertyLabel="توضیحات"></app-content-editor>
					</div>
									<div *dxTemplate="let company of 'ability'" class="tab-content-edit-form">
						<app-content-editor [selectedEntityId]="selectedEntityId" entityName="educationalCenter" propertyName="ability"
											propertyLabel="توانمندی ها و سوابق"></app-content-editor>
					</div>
				</dx-tab-panel>
