@import url("../node_modules/jquery-ui/themes/base/all.css");
@import url("../node_modules/devextreme/dist/css/dx.common.css");
@import url("../node_modules/devextreme/dist/css/dx.light.css");
@import url("../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.common.css");
@import url("../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.light.css");
@import url("../node_modules/@devexpress/analytics-core/dist/css/dx-querybuilder.css");
@import url("../node_modules/devexpress-dashboard/dist/css/dx-dashboard.light.css");

.dx-widget {
    color: #333;
    font-weight: normal !important;
    font-size: 13px !important;
    font-family: 'iransans' !important;
    line-height: 1 !important;
}

.pace .pace-activity {
    top: 19px;
    right: 19px;
    display: none;
}

.page-loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: rgba(51, 51, 51, 1.00);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 38px;
    height: 38px;
    margin-left: -19px;
    margin-top: -19px;
}

app-root:empty ~ .page-loading {
    opacity: 1;
    z-index: 1;
}

.dx-button-has-icon .dx-button-content {
    padding: 3px !important;
}

.nav-link {
    font-size: 14px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.dx-header-row {
    background-color: #33b5e5 !important;
    color: black !important;
    height: 40px !important;
    padding-top: 10px !important;
}

div.dx-datagrid-text-content.dx-text-content-alignment-right {
    margin-top: 8px;
}

dx-datagrid-text-content
.bd-callout-warning {
    border-right-color: #f0ad4e !important;
}

.bd-callout-info {
    border-right-color: #5bc0de !important;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-right-width: .25rem;
    border-radius: .25rem;
}

.angular-with-newlines {
    white-space: pre-wrap;
}
.customLabel {
    margin: 20px 0;
    white-space: nowrap;
    font-weight: 400;
    font-family: iransans;
}
