<app-base-edit-form (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
    <dx-form id="form" [colCount]="2" #detailForm [formData]="entity" rtlEnabled="true"
             style="text-align: right !important;">

        <dxi-item [label]="{text: 'کد'}" dataField="code">
        </dxi-item>
        <dxi-item [label]="{text: 'عنوان'}" dataField="title">
            <dxi-validation-rule type="required" message="عنوان اجباری می باشد"></dxi-validation-rule>
        </dxi-item>


        <dxi-item [label]="{text: 'کلاس'}" dataField="cssClass">
        </dxi-item>
        <dxi-item dataField="color" editorType="dxColorBox" [label]="{text: 'رنگ'}"
                  [editorOptions]="{rtlEnabled:false,applyValueMode:'instantly'}">
            <dxi-validation-rule type="required" message="رنگ"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="ConnectionStringIds" editorType="dxTagBox" [label]="{text: 'رشته های اتصال'}"
                  [editorOptions]="{  value:entity.connectionStringIds,applyValueMode: 'useButtons',showSelectionControls:true,items:connectionStrings,displayExpr:'title',valueExpr:'id' }">
            <dxi-validation-rule type="required" message="رشته های اتصال اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="accessLevelId" editorType="dxLookup" [label]="{text: 'سطح دسترسی'}"
                  [editorOptions]="{rtlEnabled:true, closeOnOutsideClick:true,showPopupTitle:false, dataSource: accessLevelDataSource,displayExpr:'title',valueExpr:'id' }">
            <dxi-validation-rule type="required" message="سطح دسترسی اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item colSpan="2" [label]="{text: 'توضیحات'}" dataField="description" editorType='dxTextArea'>
        </dxi-item>
    </dx-form>
</app-base-edit-form>
