<app-base-edit-form (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
    <dx-form id="form" [colCount]="2" #detailForm [formData]="entity">

        <dxi-item [label]="{text: 'کلید پست'}" dataField="code">
            <dxi-validation-rule type="required" message="کلید پست اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [label]="{text: 'عنوان'}" dataField="title">
            <dxi-validation-rule type="required" message="عنوان اجباری می باشد"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="jobId" editorType="dxLookup" [label]="{text: 'شغل'}"
                  [editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: jobDataSource,displayExpr:'title',valueExpr:'id' }">
        </dxi-item>

        <dxi-item dataField="parentId" editorType="dxLookup" [label]="{text: 'ParentId'}"
                  [editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: parentDataSource,displayExpr:'title',valueExpr:'id' }">
        </dxi-item>
        <dxi-item [label]="{text: 'پست مجازی'}" dataField="isVirtual" editorType='dxCheckBox'>
        </dxi-item>
        <dxi-item [label]="{text: 'توضیحات'}" dataField="description" editorType='dxTextArea'>
        </dxi-item>

        <dxi-item dataField="accessLevelId" editorType="dxSelectBox" [label]="{text: 'سطح دسترسی'}"
                  [editorOptions]="{ items: accessLevels,displayExpr:'title',valueExpr:'id' }">
            <dxi-validation-rule type="required" message="سطح دسترسی اجباری می باشد"></dxi-validation-rule>

        </dxi-item>
    </dx-form>
</app-base-edit-form>
