
				<app-base-edit-form   (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
	<dx-form id="form"  [colCount]="2" #detailForm [formData]="entity">

									<dxi-item [label]="{text: 'کد'}"  dataField="code" >
												
										
				</dxi-item>
									
									<dxi-item dataField="representationId" editorType="dxLookup" [label]="{text: 'نمایندگی'}"
					[editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: representationDataSource,displayExpr:'title',valueExpr:'id' }">

																				<dxi-validation-rule  type="required" message="نمایندگی اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="personId" editorType="dxLookup" [label]="{text: 'شخص'}"
					[editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: personDataSource,displayExpr:'name',valueExpr:'id' }">

																				<dxi-validation-rule  type="required" message="شخص اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="postId" editorType="dxLookup" [label]="{text: 'سمت'}"
					[editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: postDataSource,displayExpr:'title',valueExpr:'id' }">

																				<dxi-validation-rule  type="required" message="سمت اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="cooperationType" editorType="dxSelectBox" [label]="{text: 'نوع همکاری مدرسین'}"  
					[editorOptions]="{ items: cooperationTypes,displayExpr:'title',valueExpr:'id' }">
															
				</dxi-item>
									<dxi-item [label]="{text: 'تاریخ جذب'}"  dataField="fromDate" editorType='dxNumberBox'>
													<dp-date-picker
							[config]="datePickerConfig"
							dir="rtl"
							mode="day"
							placeholder="تاریخ جذب"
							theme="dp-material"
														[ngModel]="entity.fromDate" (ngModelChange)="entity.fromDate=convertDateToStrint($event)">
														</dp-date-picker>
												
										
				</dxi-item>
									<dxi-item [label]="{text: 'تاریخ رهایی'}"  dataField="toDate" editorType='dxNumberBox'>
													<dp-date-picker
							[config]="datePickerConfig"
							dir="rtl"
							mode="day"
							placeholder="تاریخ رهایی"
							theme="dp-material"
														[ngModel]="entity.toDate" (ngModelChange)="entity.toDate=convertDateToStrint($event)">
														</dp-date-picker>
												
										
				</dxi-item>
									<dxi-item [label]="{text: 'توضیحات'}"  dataField="description" editorType='dxTextArea'>
												
										
				</dxi-item>
									
									<dxi-item dataField="accessLevelId" editorType="dxSelectBox" [label]="{text: 'سطح دسترسی'}"  
					[editorOptions]="{ items: accessLevels,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule  type="required" message="سطح دسترسی اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
</dx-form>
</app-base-edit-form>
