.body-content {
  margin-top: -15vh;
  padding-top: 10vh;
  background-color: #fafafa;
  background: url('../../../../assets/img/common/back2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
