
			<app-base-edit-form (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
<dx-form id="form"  [colCount]="2" #detailForm [formData]="entity">

									
									<dxi-item dataField="roleId" editorType="dxSelectBox" [label]="{text: 'نقش'}"  
					[editorOptions]="{ items: roles,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule type="required" message="نقش ?????? ?? ????"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="dashboardId" editorType="dxSelectBox" [label]="{text: 'داشبورد'}"  
					[editorOptions]="{ items: dashboards,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule type="required" message="داشبورد ?????? ?? ????"></dxi-validation-rule>
							
				</dxi-item>
</dx-form>
</app-base-edit-form>
