<app-base-edit-form (closeFormClick)="onCloseFormClick($event)" (submitEvent)="formSubmit($event)">
    <dx-form #detailForm  [colCount]="2" [formData]="entity" id="form">

        <dxi-item  cssClass="text-align-left" [label]="{text: 'مسیر'}" dataField="path">
        </dxi-item>
        <dxi-item [label]="{text: 'عنوان'}" dataField="title">
            <dxi-validation-rule message="عنوان اجباری می باشد" type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item  cssClass="text-align-left" [label]="{text: 'آیکون'}" dataField="icon">
        </dxi-item>
        <dxi-item  cssClass="text-align-left" [label]="{text: 'کلاس'}" dataField="class">
        </dxi-item>
        <dxi-item  cssClass="text-align-left" [label]="{text: 'نشان'}" dataField="badge">
        </dxi-item>
        <dxi-item  cssClass="text-align-left" [label]="{text: 'کلاس مشان'}" dataField="badgeClass">
        </dxi-item>
        <dxi-item [label]="{text: 'لینک خارجی'}" dataField="isExternalLink" editorType='dxCheckBox'>
        </dxi-item>

        <dxi-item  [editorOptions]="{closeOnOutsideClick:true,showPopupTitle:false, dataSource: parentDataSource,displayExpr:'title',valueExpr:'id' }" [label]="{text: 'پدر'}" dataField="parentId"
                editorType="dxLookup">
        </dxi-item>

        <dxi-item [editorOptions]="{closeOnOutsideClick:true,showPopupTitle:false, dataSource: resourceDataSource,displayExpr:'title',valueExpr:'id' }" [label]="{text: 'منبع'}" dataField="resourceId"
                editorType="dxLookup">
        </dxi-item>
        <dxi-item [label]="{text: 'مجازی'}" dataField="isVirtual" editorType='dxCheckBox'>
        </dxi-item>
        <dxi-item [label]="{text: 'ترتیب'}" dataField="orderNo" editorType='dxNumberBox'>
        </dxi-item>
    </dx-form>
</app-base-edit-form>
