
				<app-base-edit-form   (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
	<dx-form id="form"  [colCount]="2" #detailForm [formData]="entity">

									
									<dxi-item dataField="representationId" editorType="dxLookup" [label]="{text: 'نمایندگی'}"
					[editorOptions]="{rtlEnabled:true,closeOnOutsideClick:true,showPopupTitle:false, dataSource: representationDataSource,displayExpr:'title',valueExpr:'id' }">

																				<dxi-validation-rule  type="required" message="نمایندگی اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									
									<dxi-item dataField="establishedLicenseType" editorType="dxSelectBox" [label]="{text: 'مجوز تاسیس'}"  
					[editorOptions]="{ items: establishedLicenseTypes,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule  type="required" message="مجوز تاسیس اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'توضیحات'}"  dataField="description" editorType='dxTextArea'>
												
										
				</dxi-item>
									
									<dxi-item dataField="accessLevelId" editorType="dxSelectBox" [label]="{text: 'سطح دسترسی'}"  
					[editorOptions]="{ items: accessLevels,displayExpr:'title',valueExpr:'id' }">
																					<dxi-validation-rule  type="required" message="سطح دسترسی اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
</dx-form>
</app-base-edit-form>
