<div class="row mb-2" dir="rtl">
    <div class="col-1">
        عنوان :
    </div>
    <div class="col-4">
        <dx-lookup
                [dataSource]="itemDataSource"
                [closeOnOutsideClick]="true"
                [showPopupTitle]="false"
                displayExpr="title"
                rtlEnabled="true">
        </dx-lookup>
    </div>
    <div class="col-7"></div>
</div>

<div class="row" dir="rtl">
    <div class="col-5">
        <div style="text-align: right;background: #8689c8;" class="p-1">
            <span style="color: white">
                aaaaa
            </span>
        </div>
        <dx-data-grid id="notSelectedItems"
                      width="100%"
                      chec
                      [dataSource]="notAssignedItemDatasource"
                      [showBorders]="true"
                      [rtlEnabled]="true"
                      [rowAlternationEnabled]="true"
                      [height]="300"
                      [columns]="columns"
                      [wordWrapEnabled]="true"
                      [remoteOperations]="true">
            <dxo-selection
                    selectAllMode="allPages"
                    showCheckBoxesMode="onClick"
                    mode="multiple"
            ></dxo-selection>
            <dxo-summary>
                <dxi-group-item
                        column="id"
                        summaryType="count">
                </dxi-group-item>
            </dxo-summary>
            <dxo-filter-row
                    [visible]="true"></dxo-filter-row>
            <dxo-header-filter
                    [visible]="true"></dxo-header-filter>
        </dx-data-grid>
    </div>
    <div class="col-2 center">
        <div class="text-center">
            <div class="pb-1">
                <dx-button icon="chevronleft" si>
                </dx-button>
            </div>
            <div class="pb-1">
                <dx-button icon="chevrondoubleleft">
                </dx-button>
            </div>
            <div class="pb-1 bt-2">
                <dx-button icon="chevronleft">
                </dx-button>
            </div>
            <div>
                <dx-button icon="chevrondoubleright">
                </dx-button>
            </div>
        </div>
    </div>
    <div class="col-5">

        <div style="text-align: right;background: #8689c8;" class="p-1">
            <span style="color: white">
                aaaaa
            </span>
        </div>
        <dx-data-grid id="selectedItems"
                      width="100%"
                      [dataSource]="assignedItemDataSource"
                      [showBorders]="true"
                      [rtlEnabled]="true"
                      [rowAlternationEnabled]="true"
                      [height]="300"
                      [columns]="columns"
                      [wordWrapEnabled]="true"
                      [remoteOperations]="true"
        >
            <dxo-selection
                    selectAllMode="allPages"
                    showCheckBoxesMode="onClick"
                    mode="multiple"
            ></dxo-selection>

            <dxo-summary>
                <dxi-group-item
                        column="id"
                        summaryType="count">
                </dxi-group-item>
            </dxo-summary>
            <dxo-filter-row
                    [visible]="true"></dxo-filter-row>
            <dxo-header-filter
                    [visible]="true"></dxo-header-filter>
        </dx-data-grid>
    </div>
</div>
