<div style="width: 100%;" [style.height.px]="contentHeight">
    <app-representation-filter
            (selectedRepresentationChanged)="onSelectedRepresentationChanged($event)"></app-representation-filter>
    <div class="row">
        <div class="col-12">
            <app-base-list-form #listForm
                                (afterInitialDetailComponent)="afterInitialDetailComponent($event)"
                                [loadAfterSetFilter]="true"
                                (selectedRowChanged)="selectedRowChanged.emit($event)"
                                [columns]="columns"
                                [entityName]="entityName"
                                [detailComponent]="detailComponent">
            </app-base-list-form>
        </div>
    </div>
</div>
