<app-base-edit-form (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
    <dx-form id="form" [colCount]="2" #detailForm [formData]="entity">

        <dxi-item cssClass="dispNone" [style.background-color]="'red'" name="uName" dataField="userName">
        </dxi-item>
        <dxi-item cssClass="dispNone" name="pssRe" [editorOptions]="{ mode: 'password' }"
                  dataField="pass">
        </dxi-item>

        <dxi-item [label]="{text: 'نام کاربری'}" name="uName" dataField="userName"
                  [editorOptions]="{ disabled: entity.id }">
            <dxi-validation-rule type="required" message="نام کاربری اجباری می باشد"></dxi-validation-rule>
            <dxi-validation-rule type="custom" [validationCallback]="validateUserName"
                                 message="نام کاربری تکراری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [label]="{text: 'نام'}" dataField="firstName">
            <dxi-validation-rule type="required" message="نام اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [label]="{text: 'نام خانوادگی'}" dataField="lastName">
            <dxi-validation-rule type="required" message="نام خانوادگی اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [label]="{text: 'کد ملی'}" dataField="nationalCode" [editorOptions]="{ disabled: entity.id }">
            <dxi-validation-rule type="required" message="کد ملی اجباری می باشد"></dxi-validation-rule>
            <dxi-validation-rule *ngIf="!entity.id" type="custom" [validationCallback]="validateNationalCode"
                                 message="کد ملی وارد شده صحیح نمی باشد"></dxi-validation-rule>
        </dxi-item>

        <dxi-item name="pss" [editorOptions]="{ mode: 'password' }" [label]="{text: 'کلمه عبور'}"
                  dataField="passwordStr">
            <dxi-validation-rule type="required" message="کلمه عبور اجباری می باشد"
                                 *ngIf="!entity.id"></dxi-validation-rule>
        </dxi-item>

        <dxi-item name="pssRe" [editorOptions]="{ mode: 'password' }" [label]="{text: 'تکرار کلمه عبور'}"
                  dataField="passwordReStr">
            <dxi-validation-rule type="required" message="تکرار کلمه عبور اجباری می باشد"
                                 *ngIf="!entity.id && entity.passwordStr !=='' "></dxi-validation-rule>
            <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                                 message="تکرار کلمه عبور صحیح نیست" *ngIf="!entity.id "></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="accessLevelId" editorType="dxLookup" [label]="{text: 'سطح دسترسی'}"
                  [editorOptions]="{closeOnOutsideClick:true,showPopupTitle:false, dataSource: accessLevelDataSource,displayExpr:'title',valueExpr:'id' }">
            <dxi-validation-rule type="required" message="سطح دسترسی اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="organizationId" editorType="dxLookup" [label]="{text: 'سازمان'}"
                  [editorOptions]="{closeOnOutsideClick:true,showPopupTitle:false, dataSource: organizationDataSource,displayExpr:'title',valueExpr:'id' }">
            <dxi-validation-rule type="required" message="کد ملی اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [label]="{text: 'ایمیل'}" dataField="email">
        </dxi-item>

        <dxi-item [label]="{text: 'شماره موبایل'}" dataField="mobileNumber" editorType='dxNumberBox'>
        </dxi-item>

        <dxi-item [label]="{text: 'آدرس'}" dataField="address" editorType='dxTextArea'>
        </dxi-item>

        <dxi-item [label]="{text: 'فعال'}" dataField="isActive" editorType='dxCheckBox'>
        </dxi-item>

    </dx-form>
</app-base-edit-form>
