<!--<div class="row">-->
<!--    <div class="col-12">-->
<!--        <dxi-item  editorType="dxLookup" [label]="{text:itemEntityLabel}"-->
<!--                  [editorOptions]="{closeOnOutsideClick:true,showPopupTitle:false, dataSource: itemDataSource,displayExpr:'name',valueExpr:'id' }">-->
<!--            <dxi-validation-rule type="required" message=" اجباری می باشد"></dxi-validation-rule>-->
<!--        </dxi-item>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--    <div class="col-5">-->
<!--        <dx-data-grid id="selectedItems"-->
<!--                      width="100%"-->
<!--                      [dataSource]="assignedItemDataSource"-->
<!--                      [showBorders]="true"-->
<!--                      [rtlEnabled]="true"-->
<!--                      [rowAlternationEnabled]="true"-->
<!--                      [height]="300"-->
<!--                      [columns]="columns"-->
<!--                      [wordWrapEnabled]="true"-->
<!--                      [remoteOperations]="true">-->
<!--            <dxo-summary>-->
<!--                <dxi-group-item-->
<!--                        column="id"-->
<!--                        summaryType="count">-->
<!--                </dxi-group-item>-->
<!--            </dxo-summary>-->
<!--            <dxo-filter-row-->
<!--                    [visible]="true"></dxo-filter-row>-->
<!--            <dxo-header-filter-->
<!--                    [visible]="true"></dxo-header-filter>-->
<!--            <dxo-selection mode="single"></dxo-selection>-->
<!--        </dx-data-grid>-->
<!--    </div>-->
<!--    <div class="col-2">-->

<!--    </div>-->
<!--    <div class="col-5">-->

<!--    </div>-->
<!--</div>-->
