<yashil-busy-indicator>
  <section class="main">
    <div class="layer">
      <div class="content-w3ls">
        <div class="text-center icon text-white dir-rtl">
          <!--                <div class="cardIcon" style="height: 50px;width: 50px"></div>-->
          <img src="../../../../assets/img/card/chart.svg" style="width: 65px">
          <br/>
          سامانه داشبورد انستیتو
        </div>
        <!---728x90--->

        <div class="content-bottom">
          <form (ngSubmit)="onSubmit()">
            <div class="field-group">
              <span class="fa fa-user" aria-hidden="true" style="margin-top: 12px ; margin-left: 10px"></span>
              <div class="wthree-field">
                <input [(ngModel)]="userLogin.username" name="text1" id="text1" type="text" value=""
                       placeholder="نام کاربری" required>
              </div>
            </div>
            <div class="field-group">
              <span class="fa fa-lock" aria-hidden="true" style="margin-top: 12px ;margin-left: 10px"></span>

              <div class="wthree-field">
                <input [(ngModel)]="userLogin.password" name="password" id="myInput" type="Password"
                       placeholder="کلمه عبور"
                       required="required">
              </div>
            </div>
            <div class="wthree-field">
              <button type="submit" class="btn">ورود</button>
            </div>
            <ul class="list-login dir-rtl">
              <li class="clearfix"></li>
            </ul>
          </form>
        </div>
      </div>
      <!---728x90--->

      <!--        <div class="bottom-grid1 text-center">-->
      <!--            <div class="copyright">-->
      <!--                <p>©-->
      <!--                    کلیه حقوق این سامانه متعلق با آقای هادی زاده می باشد.-->
      <!--                </p>-->
      <!--            </div>-->
      <!--        </div>-->
    </div>
  </section>
</yashil-busy-indicator>
