<app-base-edit-form (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
    <dx-form id="form" [colCount]="2" #detailForm [formData]="entity">
        <dxi-item dataField="userId" editorType="dxLookup" [label]="{text: 'کاربر'}"
                  [editorOptions]="{closeOnOutsideClick:true,showPopupTitle:false, dataSource: userDataSource,displayExpr:'title',valueExpr:'id' }">
            <dxi-validation-rule type="required" message="کاربر اجباری می باشد"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="roleId" editorType="dxLookup" [label]="{text: 'نقش'}"
                  [editorOptions]="{closeOnOutsideClick:true,showPopupTitle:false, dataSource: roleDataSource,displayExpr:'title',valueExpr:'id' }">
            <dxi-validation-rule type="required" message="نقش اجباری می باشد"></dxi-validation-rule>
        </dxi-item>
    </dx-form>
</app-base-edit-form>
