@font-face {
    font-family: 'iransans';
    src: url('fonts/iransansweb.eot');
    src: url('fonts/iransansweb.eot?9xfrq8#iefix') format('embedded-opentype'),
    url('fonts/iransansweb.ttf?9xfrq8') format('truetype'),
    url('fonts/iransansweb.woff?9xfrq8') format('woff');
    /*url('fonts/iransansweb.svg?9xfrq8#feather') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

