<app-base-list-form title="گروه دوره" [isForSelectReadOnly]="isForSelectReadOnly"
                    [allowInsertInForm]="selectedEntity!==null"
                    [isForTree]="true"
                    [dataStructureIsPlain]="true"
                    lazyLoading="false" #frmCategory
                    loadAfterSetFilter="true"
                    [columns]="columns"
                    [entityName]="entityName"
                    [detailComponent]="detailComponent"
                    (selectedRowChanged)="onRowSelect($event)"
                    (afterInitialDetailComponent)="afterInitialDetailComponent($event)">
</app-base-list-form>
