
			<app-base-edit-form (submitEvent)="formSubmit($event)" (closeFormClick)="onCloseFormClick($event)">
<dx-form id="form"  [colCount]="2" #detailForm [formData]="entity">

									<dxi-item [label]="{text: 'عنوان'}"  dataField="title" >
												
																<dxi-validation-rule  type="required" message="عنوان اجباری می باشد"></dxi-validation-rule>
							
				</dxi-item>
									<dxi-item [label]="{text: 'توضیحات'}"  dataField="description" editorType='dxTextArea'>
												
										
				</dxi-item>
									<dxi-item [label]="{text: 'فعال بودن'}"  dataField="isActive" editorType='dxCheckBox'>
												
										
				</dxi-item>
</dx-form>
</app-base-edit-form>
