<dx-tab-panel
    #tabPanel
    rtlEnabled="true"
    [dataSource]="tabs"
    [selectedIndex]="0"
    [loop]="false"
    [animationEnabled]="false"
    [swipeEnabled]="false">
    <div *dxTemplate="let company of 'representation'" class="tab-content-edit-form">
        <app-representation-detail [educationalCenterId]="educationalCenterId" [selectedEntityId]="selectedEntityId" (afterInsertRow)="rowInserted($event)"
                                   entityName="representation"
        ></app-representation-detail>
    </div>
    <div *dxTemplate="let company of 'about'" class="tab-content-edit-form">
        <app-content-editor [selectedEntityId]="selectedEntityId" entityName="representation" propertyName="About"
                            propertyLabel="درباره"></app-content-editor>
    </div>
    <div *dxTemplate="let company of 'goal'" class="tab-content-edit-form">
        <app-content-editor [selectedEntityId]="selectedEntityId" entityName="representation" propertyName="Goal"
                            propertyLabel="اهداف و ماموریت"></app-content-editor>
    </div>
    <div *dxTemplate="let company of 'description'" class="tab-content-edit-form">
        <app-content-editor [selectedEntityId]="selectedEntityId" entityName="representation" propertyName="Description"
                            propertyLabel="توضیحات"></app-content-editor>
    </div>
    <div *dxTemplate="let company of 'ability'" class="tab-content-edit-form">
        <app-content-editor [selectedEntityId]="selectedEntityId" entityName="representation" propertyName="Ability"
                            propertyLabel="توانمندی ها و سوابق"></app-content-editor>
    </div>
</dx-tab-panel>
